/* Written by Yaoqi Yu 16/03/22 @yaoqiyMelb */
body {
    background-color: #FAFBFF;
font-family: 'SF Pro';
font-style:normal;
font-weight: 270;
 }

.top_buttons .return .return_button{
    width: 35px;
    height: 35px;
    text-decoration: none;
    border: none;   
    background-color: #F2F4F8;
    color:#0079C8 
}

.top_buttons .return .return_button:hover{
    cursor: pointer;
}

.top_buttons .return .return_button .iconify{
    width: 35px;
    height: 35px;
}
 
 
.top_buttons .login .Login_button{
     width: 108px;
     height: 35px;
     transition-duration: 0.4s;
     text-decoration: none;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     background-color: #0079C8;
     color: white;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     
 }

.top_buttons .login .Login_button:hover {
    background-color: white;
    color: #0079C8;
    border: 2px solid #0079C8;
    border-radius: 4px;
    cursor: pointer;
  }

 

  .main-content-about .container-About{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .main-content-about .login-button{
      width:1920px;
      height:596px;
      display: none;
      background-image: url('/images/blueMountainRange1.jpg');
      background-repeat: no-repeat;
      
  }

 

  .abt_web, .abt_team, .notice{
      width:100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

  }


  h1, h3, h4{
      color:#0079C8;
  }

  .useful_links .links{
      text-decoration: none;
      color: #0079C8;
  }

  .web_info, .team_info, .notice_info{
      width:90%;
      text-align: justify;
  }
  

  .diabetes_text1, .diabetes_text2{
      width:90%;
  }

  .diabetes_info{
      text-align: justify;
  }

  @media screen and (min-width: 376px) and (max-width:1025px){

    body{
        margin: 0;
    }

    .main-content-about .login-button{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 1024px;
        height: 500px;
    }
    .main-content-about .container-About{
        text-align: left;
        width:100%;
    }

    .main-content-about .container-About .AboutDiabetes-title {
        width:80%;
        display:flex;
    }

    .main-content-about .login-button .Login_button-desktop a input{ 
        width: 108px;
        height: 35px;
        background-color: white;
        color: #0079C8;
        border-radius: 4px;
        border:none;
        }

    .main-content-about .login-button .Login_button-desktop a input:hover{
        cursor: pointer;
        background-color: #0079C8;
        color: #F2F4F8;
        transition-duration: 0.4s;
    }

    .abt_web, .abt_team, .notice,.diabetes_text1, .diabetes_text2{
        width: 80%;
        align-items: flex-start;
    }


    .top_buttons .return .return_button{
        background-color: #0079C8;
    }

    .top_buttons .return .return_button .iconify{
        color:#F2F4F8;
    }

    .top_buttons .login .Login_button{
        box-shadow:none;
        font-size: large;
    }
    
  }

  @media screen and (min-width: 1026px) {

    body{
        margin: 0;
    }

    .main-content-about .login-button{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .main-content-about .container-About{
        text-align: left;
        width:100%;
    
    }

    .main-content-about .container-About .AboutDiabetes-title {
        width:80%;
        display:flex;
    }

    .main-content-about .login-button .Login_button-desktop a input{ 
        width: 108px;
        height: 35px;
        background-color: white;
        color: #0079C8;
        border-radius: 4px;
        border:none;
        }

    .main-content-about .login-button .Login_button-desktop a input:hover{
        cursor: pointer;
        background-color: #0079C8;
        color: #F2F4F8;
        transition-duration: 0.4s;
    }

    .abt_web, .abt_team, .notice,.diabetes_text1, .diabetes_text2{
        width: 80%;
        align-items: flex-start;
    }


    .top_buttons .return .return_button{
        background-color: #0079C8;
    }

    .top_buttons .return .return_button .iconify{
        color:#F2F4F8;
    }

    .top_buttons .login .Login_button{
        box-shadow:none;
        font-size: large;
    }
  }